body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #33ccff 0%, #ffcc66 100%);
    font-family: 'Roboto', sans-serif;
}
/* section first */
.top-p{
    padding:10px 0;
    text-align: center;
    font-size: 22px;
    animation:blink 2s infinite;
}
.first>h1{
    width: 80%;
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.first>p:nth-child(3){
    text-align: center;
    animation:blinkingFont 2s ease-in-out 0.5s infinite;
}
.video-box{
    background: white;
    height: 300px;
    width: 600px;
    margin:auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list-box{
}
.list-box>ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    gap: 15px;
    margin: 40px auto;
    font-weight: bold;
}
.list-box>ul>li{
    list-style-type: circle;
}


@keyframes blink {
    0%{
        background-color:white;
    }
    50%{
        color:red;
    }
    75%{
        color:lightsalmon;
    }
}

@keyframes blinkingFont {
    0%{
        font-weight: 100;
    }
    50%{
        font-weight: 900;
    }
    100%{
        font-weight: bolder;
        color: red;
    }
}

/* section second  */
.second{
    margin-top: 40px;
}
.chache-heading{
    text-align: center;
    font-weight: bold;
}
.big-head{
    margin-bottom: 40px;
}
.big-head>h2{
    text-align: center;
    letter-spacing: 3px;
    border: 2px solid black;
    width: 60%;
    margin: auto;
    padding: 6px 0px;
}
.big-head>p{
    text-align: center;
}
.content-para{
}
.content-para>p{
    width: 60%;
    margin: auto;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 40px;
}
.list-head{
    margin-left: 9%;
    font-weight: bold;
    font-size: large;
}